# Midnight Network Preprod Configuration
NEXT_PUBLIC_MIDNIGHT_NETWORK=preprod
NEXT_PUBLIC_MIDNIGHT_INDEXER_URI=https://indexer.preprod.midnight.network/api/v1/graphql
NEXT_PUBLIC_MIDNIGHT_INDEXER_WS_URI=wss://indexer.preprod.midnight.network/api/v1/graphql/ws
NEXT_PUBLIC_MIDNIGHT_NODE_URI=https://rpc.preprod.midnight.network
NEXT_PUBLIC_MIDNIGHT_PROVING_SERVER_URI=http://localhost:6300

# Deployed WhisperFeed Compact Smart Contract Address on Midnight Preprod
NEXT_PUBLIC_MIDNIGHT_CONTRACT_ADDRESS=02008f4a8b29c1e099834d6712398bfa79c0281bfe44210a99c0471289de6102
